@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

@media (max-width: 780px) {
  .bars {
    background-color: green;
    height: 3px;
    width: 30px;
    margin: 0 4px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    transition: all ease-in-out 1s;
  }

  .toggle:hover .bars:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle:hover .bars:nth-child(2) {
    display: none;
  }

  .toggle:hover .bars:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
