@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: rgb(242, 240, 241);
}

.bars {
  background-color: black;
  height: 6px;
  width: 30px;
  border-radius: 5px;
  margin: 6px 0px;
  transition: all ease-in-out 1s;
}

.toggle.show:hover .bars:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle.show .bars:nth-child(2) {
  display: none;
}

.toggle.show .bars:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}
